.App {
  min-height: 100vh;

  height: auto;
  position: relative;
  overflow-x: hidden;
}

.background {
  width: 100vw;
  height: 93.5rem;
  position: absolute;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 75%,
      $color-white
    ),
    url(https://theaestheticlounge.co.uk/static/media/home-hero.228bbd5e.png);
  background-size: 99vw;
  background-position: left bottom;
  top: 0;
  left: 0;
  z-index: -1;
}

.main {
  & > * {
    margin: auto;
    width: 122rem;
  }
}
