.swiper-pagination {
  & * {
    height: 1rem !important;
    width: 1rem !important;
    background-color: #44a0a6 !important;
  }
}
.swiper-pagination-active {
  background-color: #44a0a6 !important;
}
