.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-self: center;

  & * {
    height: 1rem !important;
    width: 1rem !important;
    background-color: rgb(68, 160, 166) !important;
    opacity: 0.6 !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #44a0a6 !important;
  opacity: 1 !important;
}
