h1,
h2 {
  font-size: 5rem;
  @include heading;
}

h3 {
  font-size: 3.9rem;
  @include heading;
}

p {
  font-size: 1.8rem;
  color: $color-black;
  line-height: 131%;
}

a {
  &:hover,
  &:focus {
    color: $color-sub;
  }
}

// .heading {
//   font-size: 5rem;
//   font-family: forma-djr-banner, sans-serif;
//   font-weight: 700;
//   font-style: normal;
//   line-height: 122%;

//   & > span {
//     font-weight: 300;
//   }
// }
