$color-main: rgb(73, 107, 117);
$color-main-2: rgb(42, 92, 107);
$color-sub: rgb(68, 160, 166);
$color-black: rgb(52, 52, 52);
$color-white: rgb(255, 255, 255);

$color-bg-2: rgba(128, 163, 165, 0.09);

$color-box-shadow: rgba(123, 168, 182, 0.4);

$color-invalid-main: rgb(255, 0, 101);
$color-invalid-sub: rgb(255, 229, 239);
$input-shadow-area: 0px 2px 10px 0px;
$box-shadow-input-value: rgba(26, 26, 26, 0.15);
$box-shadow-invalid-value: rgba(255, 0, 101, 0.15);

$box-shadow-value: 0px 31px 35px 0px;

$font-main: "proxima-nova", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-sub: Arial;

$font-size-h1: 5rem;
$font-size-h2: 4.8rem;
$font-size-l: 3.9rem;
$font-size-p: 1.8rem;
$font-size-feature: 1.5rem;
$font-size-banner: 4.4rem;
$font-size-card-header: 2.4rem;
$font-size-card-text: 1.6rem;

$font-weight-h1-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

$border-radius: 1rem;
$nav-item-gap: 1.8rem;
$btn-main-gap: 2.2rem;
$btn-hover-bg: rgba(135, 209, 214, 0.3);
$heading-gap: 0.7rem;
