.swiper-ctn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 132rem;
}

.swiper-wrapper {
  // background-color: black;
}

.courses__swiper {
  width: 120rem;
  height: 54.5rem;

  position: static !important;

  & .swiper-wrapper {
    & .swiper-slide {
      text-align: center;
      font-size: 38px;
      padding: 3rem;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: transparent !important;
  background-repeat: no-repeat;
  background-size: auto !important;
  background-position: center;
  transform: translateY(-10%);

  background-image: url("https://theaestheticlounge.co.uk/static/media/arrow.5fceb86c.svg");
}

.swiper-button-prev {
  transform: scaleX(-1) translateY(-10%);
}
