.treatments {
  width: 113.5rem;

  &__title {
    padding-bottom: 4.6rem;

    & > span {
      margin-right: 0.6rem;
    }
  }

  &__ctn {
  }

  &__list {
  }

  &__item {
  }

  &__img {
  }

  &__details {
  }

  &__name {
  }

  &__info {
  }

  &__btns {
  }

  &__btn {
    &--1 {
    }

    &--2 {
    }
  }
}
