.testi {
  &__swiper {
    width: 60rem;
    height: 40rem;
    background-color: rgb(59, 8, 52);
  
    & .swiper-slide {
      font-size: 2.4rem;
    }
  
    & .swiper-pagination {
      width: 100%;
      padding-right: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: end;
    }
  }

  &__card {}
}






